@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
    --dark-grayish-red: hsl(0, 6%, 24%);
    --mobile-bg: #FEF4F3;
    /* -- Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
    -- Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%); */
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Josefin Sans';
}

body {
    box-sizing: border-box;
    background: var(--mobile-bg);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.inactive {
    display: none;
}

.hidden {
    visibility: hidden;
}

#logo {
    width: 100px;
    margin: 30px;
}

.img-container {
    width: 100%;
    max-height: 30vh;
    overflow: hidden;
}

.hero-mobile {
    position: relative;
    top: 22px;
    width: 100%;
    object-fit: cover;
}

.info-container {
    width: 85vw;
    margin: 0 auto;
    text-align: center;
}

.info-container h1 {
    margin: 45px 0 0 0;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.info-container h1 span {
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--desaturated-red);
}

.info-container p {
    margin: 25px 0 30px 0;
    font-size: 14px;
    line-height: 24px;
    color: var(--desaturated-red);
}

form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 48px;
    width: 100%;
}

#email {
    box-sizing: border-box;
    width: calc(100% - 40px);
    height: 46px;
    padding: 25px;
    background: none;
    border-radius: 90px 0 0 90px;
    border: 0.5px solid var(--desaturated-red);
    border-right: none;
    outline: none;
    font-size: 14px;
}

#email::placeholder {
    color: var(--desaturated-red);
}

#submit-email {
    position: absolute;
    right: calc(7.5vw);
    width: 80px;
    height: 52px;
    border-radius: 90px;
    border: none;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    
}

#submit-email:active {
    background: linear-gradient(135deg, hsl(0, 80%, 98%), hsl(0, 80%, 86%));
    box-shadow: 0px 0px 13px 2px hsl(0, 80%, 86%);
}

#submit-email img {
    width: 10px;
    height: 20px;
    
}

.error-sign {
    position: absolute;
    right: calc(7.5vw + 80px + 5px);
    width: 15px;
}

.input-error {
    display: block;
    margin: 15px;
    text-align: left;
    font-size: 14px;
    color: red;
}

@media (min-width: 1024px) {
    body {
        /* display: grid;
        grid-template-columns: 65vw 35vw;
        grid-template-rows: 10vh 90vh; */
        background: url(/images/bg-pattern-desktop.svg);
        background-size: calc(100% - 10vw);
        background-repeat:repeat-y;
    }

    #logo {
        width: 150px;
        margin: 10vh 0 0 10vw;
    }
    
    .img-container {
        position: absolute;
        top: 0;
        right: 0;
        width: 35vw;
        overflow: visible;
    }

    .hero-mobile {
        display: none;
    }

    .hero-desktop {
        display: inline-block;
        object-fit: cover;
        width: 100%;
        min-height: 100%;
        height: 100vh;
    }

    .info-container {
        margin-top: 12vh;
        margin-left: 10vw;
        width: calc(100% - 65vw);
        text-align: left;
    }

    .info-container h1, .info-container h1 span {
        font-size: 50px;
    }

    .info-container p{
        margin: 5vh 0;
        font-size: 20px;
        line-height: 25px;
    }

    form {
        height: 60px;
        width: 100%;
    }

    #email {
        box-sizing: border-box;
        width: calc(100% - 80px);
        height: 60px;
        padding: 25px 100px 25px 40px;
        font-size: 16px;
    }

    #submit-email {
        position: absolute;
        right: calc(100% - 44vw);
        width: 100px;
        height: 60px;
    }

    .error-sign {
        z-index: 3;
        position: absolute;
        right: calc(56vw + 110px);
        width: 15px;
    }
    
}